{{ 'component-image-with-text.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
    background-repeat: repeat;
    background-position: 0 0;
    background-position: center;
    background-attachment: scroll !important;
    {% unless section.settings.background_image_sp == blank %}
      background-image: url('{{ section.settings.background_image_sp | image_url: width: 781 }}');
      background-size: 781px 498px;
    {% else %}
      background-image: url('{{ section.settings.background_image | image_url: width: 1365 }}');
      background-size: 1365px 498px;
    {% endunless %}
  }
  .global-media-settings {
    border: none !important; 
  }
  .image-with-text__content>*+* {
    margin-top: 0;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
      {% unless section.settings.background_image == blank %}
        background-image: url('{{ section.settings.background_image | image_url: width: 1365 }}');
        background-size: 1365px 498px;
      {% endunless %}
    }
    .section-{{ section.id }}-padding .grid--3-col-tablet .grid__item {
      width: 45%;
    }
    .section-{{ section.id }}-padding .image-with-text__grid .grid__item.image-with-text__text-item {
      margin-left: 0;
      margin-right: 10rem;
    }
    .section-{{ section.id }}-padding .image-with-text__grid.image-with-text__grid--reverse .grid__item.image-with-text__text-item {
      margin-left: 10rem;
      margin-right: 0;
    }
    .section-{{ section.id }}-padding .grid__item.image-with-text__text-item .image-with-text__content {
      padding-top: 0;
      padding-bottom: 0;
    }
    .section-{{ section.id }}-padding .multirow__inner {
      row-gap: 0;
    }
  }
{%- endstyle -%}

{%- liquid
  if section.settings.image_layout contains 'right'
    assign odd_class = ' image-with-text__grid--reverse'
  else
    assign even_class = ' image-with-text__grid--reverse'
  endif

  if section.settings.row_color_scheme == section.settings.section_color_scheme
    assign no_content_background = true
  endif

  if settings.text_boxes_shadow_opacity == 0 and settings.text_boxes_border_thickness == 0 or settings.text_boxes_border_opacity == 0
    assign no_content_styles = true
  endif

  if settings.text_boxes_border_thickness > 0 and settings.text_boxes_border_opacity > 0 and settings.media_border_thickness > 0 and settings.media_border_opacity > 0
    assign borders_class = ' collapse-borders'
  endif

  if no_content_background and no_content_styles
    assign padding_class = ' collapse-padding'
  endif

  unless no_content_background and no_content_styles
    assign corners_class = ' collapse-corners'
  endunless
-%}

<div class="multirow section-{{ section.id }}-padding gradient color-{{ section.settings.section_color_scheme }}">
  <div class="multirow__inner">
    {%- for block in section.blocks -%}
      {%- case block.type -%}
        {%- when 'heading' -%}
          <div class="heading-{{ block.id }}" {{ block.shopify_attributes }}>
            <h2
              class="h2-{{ block.id }} rich-text__heading rte inline-richtext {{ block.settings.heading_size }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
              {% if settings.animations_reveal_on_scroll %}
                data-cascade
                style="--animation-order: {{ forloop.index }};"
              {% endif %}
            >
              {{ block.settings.heading }}
            </h2>
            <style>
              .h2-{{ block.id }} {
                margin: 0;
                text-align: {{ block.settings.heading_align }};
                padding-top: {{ block.settings.heading_padding_top | times: 0.75 | round: 0 }}px;
                padding-bottom: {{ block.settings.heading_padding_bottom | times: 0.75 | round: 0 }}px;
                color: {{ block.settings.heading_color }};
                font-weight: {{ block.settings.heading_fontweight }};
                line-height: {{ block.settings.heading_lineheight_mobile }};
                letter-spacing: {{ block.settings.heading_letterspacing_mobile }}rem;
                font-size: {{ block.settings.heading_size_mobile }}px;
              }
              @media screen and (min-width: 750px) {
                .h2-{{ block.id }} {
                  padding-top: {{ block.settings.heading_padding_top }}px;
                  padding-bottom: {{ block.settings.heading_padding_bottom }}px;
                  line-height: {{ block.settings.heading_lineheight_desktop }};
                  letter-spacing: {{ block.settings.heading_letterspacing_desktop }}rem;
                  font-size: {{ block.settings.heading_size_desktop }}px;
                }
              }
            </style>
            {%- if block.settings.caption != blank -%}
              <div class="caption-{{ block.id }} {{ block.settings.heading_size }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
                {{ block.settings.caption }}
              </div>
              <style>
                .caption-{{ block.id }} {
                  text-align: {{ block.settings.caption_align }};
                  padding-top: {{ block.settings.caption_padding_top | times: 0.75 | round: 0 }}px;
                  padding-bottom: {{ block.settings.caption_padding_bottom | times: 0.75 | round: 0 }}px;
                  color: {{ block.settings.caption_color }};
                  font-weight: {{ block.settings.caption_fontweight }};
                  line-height: {{ block.settings.caption_lineheight_mobile }};
                  letter-spacing: {{ block.settings.caption_letterspacing_mobile }}rem;
                  font-size: {{ block.settings.caption_size_mobile }}px;
                }
                @media screen and (min-width: 750px) {
                  .caption-{{ block.id }} {
                    padding-top: {{ block.settings.caption_padding_top }}px;
                    padding-bottom: {{ block.settings.caption_padding_bottom }}px;
                    line-height: {{ block.settings.caption_lineheight_desktop }};
                    letter-spacing: {{ block.settings.caption_letterspacing_desktop }}rem;
                    font-size: {{ block.settings.caption_size_desktop }}px;
                  }
                }
              </style>
            {%- endif -%}
          </div>
          <style>
            .heading-{{ block.id }} {
              padding-top: {{ block.settings.padding_top | times: 0.75 | round: 0 }}px;
              padding-bottom: {{ block.settings.padding_bottom | times: 0.75 | round: 0 }}px;
            }
            @media screen and (min-width: 750px) {
              .heading-{{ block.id }} {
                padding-top: {{ block.settings.padding_top }}px;
                padding-bottom: {{ block.settings.padding_bottom }}px;
              }
            }
          </style>
        {%- when 'row' -%}
          <div
            class="image-with-text-{{ block.id }} image-with-text isolate{{ borders_class }}{{ corners_class }}{{ padding_class }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
            {{ block.shopify_attributes }}
          >
            <div class="image-with-text__grid grid grid--gapless grid--1-col grid--{% if section.settings.desktop_image_width == 'medium' %}2-col-tablet{% else %}3-col-tablet{% endif %}{% if section.settings.image_layout contains 'alternate' %}{% cycle odd_class, even_class %}{% else %}{{ odd_class }}{% endif %}">
              <div class="image-with-text__media-item image-with-text__media-item--{{ section.settings.desktop_image_width }} image-with-text__media-item--{{ section.settings.desktop_content_position }} grid__item">
                <div
                  class="image-with-text__media image-with-text__media--{{ section.settings.image_height }} gradient color-{{ section.settings.row_color_scheme }} global-media-settings{% if block.settings.image != blank %} media{% else %} image-with-text__media--placeholder placeholder{% endif %}"
                >
                  {%- if block.settings.image != blank -%}
                    {%- capture sizes -%}
                      (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px,
                      (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)
                    {%- endcapture -%}
                    {%- if block.settings.image_sp == blank -%}
                    {{
                      block.settings.image
                      | image_url: width: 1500
                      | image_tag: sizes: sizes, widths: '165, 360, 535, 750, 1070, 1500'
                    }}
                    {%- else -%}
                      <picture>
                        <source 
                          media="(max-width: 740px)"
                          srcset="{{ block.settings.image_sp | image_url }}"
                          loading="lazy">
                          {{
                            block.settings.image
                            | image_url: width: 1500
                            | image_tag: sizes: sizes, widths: '165, 360, 535, 750, 1070, 1500'
                          }}
                      </picture>
                    {%- endif -%}
                  {%- else -%}
                    {{ 'detailed-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
                  {%- endif -%}
                </div>
                <style>
                  .image-with-text-{{ block.id }} .image-with-text__media {
                    background: transparent;
                    {% if section.settings.image_height == 'adapt' %}
                      {% if block.settings.image_sp != blank %}
                        padding-bottom: {{ 1 | divided_by: block.settings.image_sp.aspect_ratio | times: 100 }}%;
                      {% else %}
                        padding-bottom: {{ 1 | divided_by: block.settings.image.aspect_ratio | times: 100 }}%;
                      {% endif %}
                    {% endif %}
                  }
                  @media screen and (min-width: 750px) {
                    .image-with-text-{{ block.id }} .image-with-text__media {
                      {% if section.settings.image_height == 'adapt' and block.settings.image != blank %}
                        padding-bottom: {{ 1 | divided_by: block.settings.image.aspect_ratio | times: 100 }}%;
                      {% endif %}
                    }
                  }
                </style>
              </div>
              <div class="image-with-text__text-item grid__item">
                <div class="image-with-text__content image-with-text__content--{{ section.settings.desktop_content_position }} image-with-text__content--desktop-{{ section.settings.desktop_content_alignment }} image-with-text__content--mobile-{{ section.settings.mobile_content_alignment }} image-with-text__content--{{ section.settings.image_height }} content-container{% unless no_content_background and no_content_styles %} gradient color-{{ section.settings.row_color_scheme }}{% else %} background-transparent{% endunless %}">
                  {%- if block.settings.caption -%}
                    <p class="image-with-text__text image-with-text__text--caption caption-with-letter-spacing caption-with-letter-spacing--medium">
                      {{ block.settings.caption | escape }}
                    </p>
                  {%- endif -%}
                  {%- if block.settings.heading != blank -%}
                    <h2 class="heading-{{ block.id }} image-with-text__heading {{ section.settings.heading_size }} rte">
                      {{ block.settings.heading }}
                    </h2>
                    <style>
                      .heading-{{ block.id }} {
                        padding-top: {{ block.settings.heading_padding_top | times: 0.75 | round: 0 }}px;
                        padding-bottom: {{ block.settings.heading_padding_bottom | times: 0.75 | round: 0 }}px;
                        color: {{ block.settings.heading_color }};
                        font-weight: {{ block.settings.heading_fontweight }};
                        line-height: {{ block.settings.heading_lineheight_mobile }};
                        letter-spacing: {{ block.settings.heading_letterspacing_mobile }}rem;
                        font-size: {{ block.settings.heading_size_mobile }}px;
                        border-bottom: 1px solid {{ block.settings.heading_border_color }};
                        width: 100%;
                      }
                      @media screen and (min-width: 750px) {
                        .heading-{{ block.id }} {
                          padding-top: {{ block.settings.heading_padding_top }}px;
                          padding-bottom: {{ block.settings.heading_padding_bottom }}px;
                          line-height: {{ block.settings.heading_lineheight_desktop }};
                          letter-spacing: {{ block.settings.heading_letterspacing_desktop }}rem;
                          font-size: {{ block.settings.heading_size_desktop }}px;
                        }
                      }
                    </style>
                  {%- endif -%}
                  {%- if block.settings.text -%}
                    <div class="text-{{ block.id }} image-with-text__text rte {{ section.settings.text_style }}">{{ block.settings.text }}</div>
                    <style>
                      .text-{{ block.id }} {
                        padding-top: {{ block.settings.text_padding_top | times: 0.75 | round: 0 }}px;
                        padding-bottom: {{ block.settings.text_padding_bottom | times: 0.75 | round: 0 }}px;
                        color: {{ block.settings.text_color }};
                        font-weight: {{ block.settings.text_fontweight }};
                        font-size: {{ block.settings.text_size_mobile }}px;
                        line-height: {{ block.settings.text_lineheight_mobile }};
                        letter-spacing: {{ block.settings.text_letterspacing_mobile }}rem;
                      }
                      @media screen and (min-width: 750px) {
                        .text-{{ block.id }} {
                          padding-top: {{ block.settings.text_padding_top }}px;
                          padding-bottom: {{ block.settings.text_padding_bottom }}px;
                          font-size: {{ block.settings.text_size_desktop }}px;
                          line-height: {{ block.settings.text_lineheight_desktop }};
                          letter-spacing: {{ block.settings.text_letterspacing_desktop }}rem;
                        }
                      }
                    </style>
                  {%- endif -%}
                  {%- if block.settings.button_label != blank -%}
                    <a
                      {% if block.settings.button_link == blank %}
                        role="link" aria-disabled="true"
                      {% else %}
                        href="{{ block.settings.button_link }}"
                      {% endif %}
                      class="button button--{{ section.settings.button_style }}"
                    >
                      {{ block.settings.button_label | escape }}
                    </a>
                  {%- endif -%}
                </div>
              </div>
            </div>
          </div>
          <style>
            .image-with-text-{{ block.id }} {
              padding-top: {{ block.settings.padding_top | times: 0.75 | round: 0 }}px;
              padding-bottom: {{ block.settings.padding_bottom | times: 0.75 | round: 0 }}px;
            }
            .section-{{ section.id }}-padding .image-with-text-{{ block.id }} .grid__item.image-with-text__text-item .image-with-text__content {
              padding-top: 3rem;
              padding-bottom: 3rem;
              padding-right: 0;
              padding-left: 0;
            }
            .section-{{ section.id }}-padding .image-with-text-{{ block.id }} .image-with-text__grid {
              padding-left: 0;
              padding-right: 0;
            }
            .section-{{ section.id }}-padding .image-with-text-{{ block.id }} .image-with-text__grid.image-with-text__grid--reverse {
              padding-left: 3rem;
              padding-right: 0;
            }
            .section-{{ section.id }}-padding .image-with-text-{{ block.id }} .image-with-text__grid .grid__item.image-with-text__text-item .image-with-text__content {
              padding-left: 3rem;
              padding-right: 0;
            }
            .section-{{ section.id }}-padding .image-with-text-{{ block.id }} .image-with-text__grid.image-with-text__grid--reverse .grid__item.image-with-text__text-item .image-with-text__content {
              padding-left: 0;
              padding-right: 3rem;
            }
            @media screen and (min-width: 750px) {
              .image-with-text-{{ block.id }} {
                padding-top: {{ block.settings.padding_top }}px;
                padding-bottom: {{ block.settings.padding_bottom }}px;
              }
              .section-{{ section.id }}-padding .image-with-text-{{ block.id }} .grid__item.image-with-text__text-item .image-with-text__content {
                padding-top: 0;
                padding-bottom: 0;
                padding-right: 0;
                padding-left: {{ block.settings.image_and_text_gap }}rem;
              }
              .section-{{ section.id }}-padding .image-with-text-{{ block.id }} .image-with-text__grid.image-with-text__grid--reverse .grid__item.image-with-text__text-item .image-with-text__content {
                padding-right: {{ block.settings.image_and_text_gap }}rem;
                padding-left: 0;
              }
              .section-{{ section.id }}-padding .image-with-text-{{ block.id }} .image-with-text__grid.image-with-text__grid--reverse {
                padding-left: 0;
              }
            }
          </style>
        {%- when 'image' -%}
          <div 
            class="image-{{ block.id }} rich-text__image{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
            {{ block.shopify_attributes }}
            {% if settings.animations_reveal_on_scroll %}
              data-cascade
              style="--animation-order: {{ forloop.index }};"
            {% endif %}
          >
          {%- if block.settings.image -%}
            {%- liquid
              assign height = block.settings.image.width | divided_by: block.settings.image.aspect_ratio | round
              if section.settings.image_behavior == 'ambient'
                assign sizes = '120vw'
                assign widths = '450, 660, 900, 1320, 1800, 2136, 2400, 3600, 7680'
              else
                assign sizes = '100vw'
                assign widths = '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'
              endif
              assign fetch_priority = 'auto'
              if section.index == 1
                assign fetch_priority = 'high'
              endif
            -%}
            {%- if block.settings.image_sp == blank -%}
              {{
                block.settings.image
                | image_url: width: 3840
                | image_tag: loading: 'lazy', height: height, sizes: sizes, widths: widths
              }}
            {%- else -%}
              <picture>
                <source 
                  media="(max-width: 740px)"
                  srcset="{{ block.settings.image_sp | image_url }}"
                  loading="lazy">
                {%- if forloop.first %}
                  {{
                    block.settings.image
                    | image_url: width: 3840
                    | image_tag: height: height, sizes: sizes, widths: widths, fetchpriority: fetch_priority
                  }}
                {%- else -%}
                  {{
                    block.settings.image
                    | image_url: width: 3840
                    | image_tag: loading: 'lazy', height: height, sizes: sizes, widths: widths
                  }}
                {%- endif -%}
              </picture>
            {%- endif -%}
          {%- endif -%}
          </div>
          <style>
            @media screen and (max-width: 749px) {
              .image-{{ block.id }}.rich-text__image {
                margin-top: {{ block.settings.padding_top | times: 0.75 | round: 0 }}px;
                margin-bottom: {{ block.settings.padding_bottom | times: 0.75 | round: 0 }}px;
                position: relative;
              }
          
              .image-{{ block.id }}.rich-text__image::before {
                {% unless block.settings.image_sp == blank %}
                  padding-bottom: {{ 1 | divided_by: block.settings.image_sp.aspect_ratio | times: 100 }}%;
                {% else %}
                  padding-bottom: {{ 1 | divided_by: block.settings.image.aspect_ratio | times: 100 }}%;
                {% endunless %}
                content: '';
                display: block;
              }
          
              .image-{{ block.id }}.rich-text__image picture,
              .image-{{ block.id }}.rich-text__image img {
                position: absolute;
                inset: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
          
            @media screen and (min-width: 750px) {
              .image-{{ block.id }}.rich-text__image {
                margin-top: {{ block.settings.padding_top }}px;
                margin-bottom: {{ block.settings.padding_bottom }}px;
                position: relative;
                width: calc(100% - 20rem);
                margin-inline: auto;
              }
          
              .image-{{ block.id }}.rich-text__image::before {
                padding-bottom: {{ 1 | divided_by: block.settings.image.aspect_ratio | times: 100 }}%;
                content: '';
                display: block;
              }
          
              .image-{{ block.id }}.rich-text__image picture,
              .image-{{ block.id }}.rich-text__image img {
                position: absolute;
                inset: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
          </style>
        {%- when 'products' -%}
          <div 
            class="products-{{ block.id }} carousel-wrapper{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
            {{ block.shopify_attributes }}
            {% if settings.animations_reveal_on_scroll %}
              data-cascade
              style="--animation-order: {{ forloop.index }};"
            {% endif %}
          >
            <div class="carousel-area">
              <div class="content">
                  <div class="image image-1">
                    {%- if block.settings.image_1 != blank -%}
                      {%- capture sizes -%}
                        (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px,
                        (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)
                      {%- endcapture -%}
                      {%- if block.settings.image_1_sp == blank -%}
                      {{
                        block.settings.image_1
                        | image_url: width: 1500
                        | image_tag: sizes: sizes, widths: '165, 360, 535, 750, 1070, 1500'
                      }}
                      {%- else -%}
                        <picture>
                          <source 
                            media="(max-width: 740px)"
                            srcset="{{ block.settings.image_1sp | image_url }}"
                            loading="lazy">
                            {{
                              block.settings.image_1
                              | image_url: width: 1500
                              | image_tag: sizes: sizes, widths: '165, 360, 535, 750, 1070, 1500'
                            }}
                        </picture>
                      {%- endif -%}
                    {%- endif -%}
                  </div>
                  <h3 class="heading">蓮/REN</h3>
                  <div class="text">
                      <p>サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト</p>
                      <p>サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト</p>
                      <p>サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト</p>
                  </div>  
              </div>
              <div class="content">
                  <div class="image image-2">
                      <img src="https://www.ren-eco.com/wp-content/uploads/2023/10/ren-eco-1.png" alt="蓮/REN" />
                  </div>
                  <h3 class="heading">蓮/REN</h3>
                  <div class="text">
                      <p>サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト</p>
                      <p>サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト</p>
                      <p>サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト</p>
                  </div>  
              </div>
              <div class="content">
                  <div class="image image-3">
                      <img src="https://www.ren-eco.com/wp-content/uploads/2023/10/ren-eco-1.png" alt="蓮/REN" />
                  </div>
                  <h3 class="heading">蓮/REN</h3>
                  <div class="text">
                      <p>サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト</p>
                      <p>サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト</p>
                      <p>サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト</p>
                  </div>  
              </div>
            </div>
          </div>
          <div class="carousel-pagination">
              <span class="active"></span>
              <span></span>
              <span></span>
          </div>
    
<style>
/* 画像コンテナ */
.products-{{ block.id }} .content .image {
  position: relative;
}

/* 画像を絶対配置でフィット */
.products-{{ block.id }} .content .image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* SP用のアスペクト比指定 */
.products-{{ block.id }} .content .image.image-1 {
  {% if block.settings.image_1_sp != blank %}
    padding-bottom: {{ 1 | divided_by: block.settings.image_1_sp.aspect_ratio | times: 100 }}%;
  {% else %}
    padding-bottom: {{ 1 | divided_by: block.settings.image_1.aspect_ratio | times: 100 }}%;
  {% endif %}
}

/* PC用のアスペクト比指定 */
@media screen and (min-width: 750px) {
  .products-{{ block.id }} .content .image.image-1 {
    {% if block.settings.image_1 != blank %}
      padding-bottom: {{ 1 | divided_by: block.settings.image_1.aspect_ratio | times: 100 }}%;
    {% endif %}
  }
}

/* カルーセル全体のコンテナ */
.carousel-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
}

/* カルーセルのスライド列 */
.carousel-area {
  display: flex;
  transition: transform 0.3s ease;
  will-change: transform;
  padding: 0 10%; /* スマホ: 両サイド1/10見切れ */
}

/* スライド1枚の幅を100%で管理 */
.carousel-area .content {
  flex: 0 0 100%;
  box-sizing: border-box;
  text-align: left; /* 左寄せに修正 */
  user-select: none;
  padding: 0 10px;
}

/* カルーセル画像のリセット */
.carousel-area .image img {
  width: 100%;
  display: block;
}

/* PCの両サイド見切れ幅調整（2/3見切れ） */
@media (min-width: 769px) {
  .carousel-area {
    padding: 0 33.333%; /* 両サイド1/3見切れ */
  }
}
.carousel-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px; /* 各バーの間隔 */
  margin-top: 10px;
}

.carousel-pagination span {
  display: inline-block;
  width: 60px; /* 棒の長さ */
  height: 6px;  /* 棒の太さ */
  background: rgba(255, 255, 255, 0.4); /* 非アクティブは薄い色 */
  border-radius: 3px; /* 丸み */
  transition: background 0.3s ease;
}

.carousel-pagination span.active {
  background: rgba(255, 255, 255, 1); /* アクティブは白 */
}

</style>


<script>
document.addEventListener("DOMContentLoaded", () => {
  const carousel = document.querySelector(".carousel-area");
  const dots = document.querySelectorAll(".carousel-pagination span");
  let slides = Array.from(carousel.children);

  // クローン追加でループ対応
  const firstClone = slides[0].cloneNode(true);
  const lastClone = slides[slides.length - 1].cloneNode(true);
  carousel.insertBefore(lastClone, slides[0]);
  carousel.appendChild(firstClone);

  slides = Array.from(carousel.children);
  let currentIndex = 1; // 真ん中スタート（最初のクローン分1から）
  let slideWidth;

  function updateSlideWidth() {
    // contentのoffsetWidthを直接取得（padding分含めて正確に）
    slideWidth = slides[currentIndex].offsetWidth;
  }

  function setPosition() {
    updateSlideWidth();
    carousel.style.transition = "none";
    carousel.style.transform = `translateX(${-slideWidth * currentIndex}px)`;
    updateDots(); // ここを追加
  }
  
  // 初期セット
  setTimeout(setPosition, 50);


  function moveToSlide(index) {
    carousel.style.transition = "transform 0.3s ease";
    carousel.style.transform = `translateX(${-slideWidth * index}px)`;
    updateDots();
  }

  function updateDots() {
    // currentIndex はクローンを含むため、実際のスライド番号を計算
    const totalSlides = slides.length - 2; // クローンを除いた本来のスライド数
    const realIndex = (currentIndex + totalSlides) % totalSlides;
  
    dots.forEach((dot, i) => {
      dot.classList.toggle("active", i === realIndex);
    });
  }


  function handleTransitionEnd() {
    if (slides[currentIndex] === slides[0]) {
      currentIndex = slides.length - 2;
      setPosition();
    }
    if (slides[currentIndex] === slides[slides.length - 1]) {
      currentIndex = 1;
      setPosition();
    }
    updateDots();
  }

  // フリック用
  let startX = 0;
  let currentX = 0;
  let isDragging = false;

  function startDrag(e) {
    isDragging = true;
    startX = e.type.includes("mouse") ? e.pageX : e.touches[0].pageX;
    carousel.style.transition = "none";
  }

  function onDrag(e) {
    if (!isDragging) return;
    currentX = e.type.includes("mouse") ? e.pageX : e.touches[0].pageX;
    const delta = currentX - startX;
    carousel.style.transform = `translateX(${-slideWidth * currentIndex + delta}px)`;
  }

  function endDrag() {
    if (!isDragging) return;
    isDragging = false;
    const delta = currentX - startX;

    if (delta > 50) currentIndex--;
    else if (delta < -50) currentIndex++;

    moveToSlide(currentIndex);
  }

  // ドットクリック対応
  dots.forEach((dot, i) => {
    dot.addEventListener("click", () => {
      currentIndex = i + 1;
      moveToSlide(currentIndex);
    });
  });

  // イベント登録
  carousel.addEventListener("transitionend", handleTransitionEnd);
  window.addEventListener("resize", setPosition);

  carousel.addEventListener("touchstart", startDrag);
  carousel.addEventListener("touchmove", onDrag);
  carousel.addEventListener("touchend", endDrag);
  carousel.addEventListener("mousedown", startDrag);
  carousel.addEventListener("mousemove", onDrag);
  carousel.addEventListener("mouseup", endDrag);
  carousel.addEventListener("mouseleave", endDrag);

  updateDots();
});
</script>











        
      {%- endcase -%}
    {%- endfor -%}
  </div>
</div>

{% schema %}
{
  "name": "複数列：Brand Story",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "header",
      "content": "t:sections.multirow.settings.header.content"
    },
    {
      "type": "select",
      "id": "image_height",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.multirow.settings.image_height.options__1.label"
        },
        {
          "value": "small",
          "label": "t:sections.multirow.settings.image_height.options__2.label"
        },
        {
          "value": "medium",
          "label": "t:sections.multirow.settings.image_height.options__3.label"
        },
        {
          "value": "large",
          "label": "t:sections.multirow.settings.image_height.options__4.label"
        }
      ],
      "default": "medium",
      "label": "t:sections.multirow.settings.image_height.label"
    },
    {
      "type": "select",
      "id": "desktop_image_width",
      "options": [
        {
          "value": "small",
          "label": "t:sections.multirow.settings.desktop_image_width.options__1.label"
        },
        {
          "value": "medium",
          "label": "t:sections.multirow.settings.desktop_image_width.options__2.label"
        },
        {
          "value": "large",
          "label": "t:sections.multirow.settings.desktop_image_width.options__3.label"
        }
      ],
      "default": "medium",
      "label": "t:sections.multirow.settings.desktop_image_width.label"
    },
    {
      "type": "select",
      "id": "image_layout",
      "options": [
        {
          "value": "alternate-left",
          "label": "t:sections.multirow.settings.image_layout.options__1.label"
        },
        {
          "value": "alternate-right",
          "label": "t:sections.multirow.settings.image_layout.options__2.label"
        },
        {
          "value": "align-left",
          "label": "t:sections.multirow.settings.image_layout.options__3.label"
        },
        {
          "value": "align-right",
          "label": "t:sections.multirow.settings.image_layout.options__4.label"
        }
      ],
      "default": "alternate-left",
      "label": "t:sections.multirow.settings.image_layout.label"
    },
    {
      "type": "header",
      "content": "t:sections.multirow.settings.header_2.content"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        },
        {
          "value": "hxl",
          "label": "t:sections.all.heading_size.options__4.label"
        },
        {
          "value": "hxxl",
          "label": "t:sections.all.heading_size.options__5.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "select",
      "id": "text_style",
      "options": [
        {
          "value": "body",
          "label": "t:sections.multirow.settings.text_style.options__1.label"
        },
        {
          "value": "subtitle",
          "label": "t:sections.multirow.settings.text_style.options__2.label"
        }
      ],
      "default": "body",
      "label": "t:sections.multirow.settings.text_style.label"
    },
    {
      "type": "select",
      "id": "button_style",
      "options": [
        {
          "value": "primary",
          "label": "t:sections.multirow.settings.button_style.options__1.label"
        },
        {
          "value": "secondary",
          "label": "t:sections.multirow.settings.button_style.options__2.label"
        }
      ],
      "default": "secondary",
      "label": "t:sections.multirow.settings.button_style.label"
    },
    {
      "type": "select",
      "id": "desktop_content_position",
      "options": [
        {
          "value": "top",
          "label": "t:sections.multirow.settings.desktop_content_position.options__1.label"
        },
        {
          "value": "middle",
          "label": "t:sections.multirow.settings.desktop_content_position.options__2.label"
        },
        {
          "value": "bottom",
          "label": "t:sections.multirow.settings.desktop_content_position.options__3.label"
        }
      ],
      "default": "middle",
      "label": "t:sections.multirow.settings.desktop_content_position.label"
    },
    {
      "type": "select",
      "id": "desktop_content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.multirow.settings.desktop_content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.multirow.settings.desktop_content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.multirow.settings.desktop_content_alignment.options__3.label"
        }
      ],
      "default": "left",
      "label": "t:sections.multirow.settings.desktop_content_alignment.label"
    },
    {
      "type": "select",
      "id": "mobile_content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.multirow.settings.mobile_content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.multirow.settings.mobile_content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.multirow.settings.mobile_content_alignment.options__3.label"
        }
      ],
      "default": "left",
      "label": "t:sections.multirow.settings.mobile_content_alignment.label"
    },
    {
      "type": "header",
      "content": "t:sections.multirow.settings.header_3.content"
    },
    {
      "type": "color_scheme",
      "id": "section_color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "color_scheme",
      "id": "row_color_scheme",
      "label": "t:sections.multirow.settings.container_color_scheme.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "背景画像"
    },
    {
      "type": "image_picker",
      "id": "background_image_sp",
      "label": "背景画像（モバイル）"
    }
  ],
  "blocks": [
    {
      "type": "row",
      "name": "t:sections.multirow.blocks.row.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.multirow.blocks.row.settings.image.label"
        },
        {
          "type": "image_picker",
          "id": "image_sp",
          "label": "t:sections.slideshow.blocks.slide.settings.image_sp.label"
        },
        {
          "type": "range",
          "id": "image_and_text_gap",
          "min": 0,
          "max": 10,
          "step": 0.1,
          "unit": "rem",
          "label": "画像とテキストの余白",
          "default": 3
        },
        {
          "type": "text",
          "id": "caption",
          "default": "t:sections.multirow.blocks.row.settings.caption.default",
          "label": "t:sections.multirow.blocks.row.settings.caption.label"
        },
        {
          "type": "html",
          "id": "heading",
          "default": "t:sections.multirow.blocks.row.settings.heading.default",
          "label": "t:sections.multirow.blocks.row.settings.heading.label"
        },
        {
          "type": "color_background",
          "id": "heading_color",
          "label": "見出しカラー",
          "default": "rgba(255,255,255,1)"
        },
        {
          "label": "見出し下線カラー",
          "id": "heading_border_color",
          "type": "color_background",
          "default": "rgba(0,0,0,0.3)"
        },
        {
          "type": "range",
          "id": "heading_fontweight",
          "min": 100,
          "max": 900,
          "step": 100,
          "label": "見出し太さ",
          "default": 100
        },
        {
          "type": "range",
          "id": "heading_size_desktop",
          "min": 8,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "見出しフォントサイズ（デスクトップ）",
          "default": 24
        },
        {
          "type": "range",
          "id": "heading_lineheight_desktop",
          "min": 1,
          "max": 5,
          "step": 0.1,
          "unit": "px",
          "label": "見出し行間（デスクトップ）",
          "default": 1.6
        },
        {
          "type": "range",
          "id": "heading_letterspacing_desktop",
          "min": 0,
          "max": 2,
          "step": 0.1,
          "unit": "rem",
          "label": "見出し文字間（デスクトップ）",
          "default": 0.2
        },
        {
          "type": "range",
          "id": "heading_size_mobile",
          "min": 8,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "見出しフォントサイズ（モバイル）",
          "default": 20
        },
        {
          "type": "range",
          "id": "heading_lineheight_mobile",
          "min": 1,
          "max": 5,
          "step": 0.1,
          "unit": "px",
          "label": "見出し行間（モバイル）",
          "default": 1.3
        },
        {
          "type": "range",
          "id": "heading_letterspacing_mobile",
          "min": 0,
          "max": 2,
          "step": 0.1,
          "unit": "rem",
          "label": "見出し文字間（モバイル）",
          "default": 0.2
        },
        {
          "type": "range",
          "id": "heading_padding_top",
          "min": 0,
          "max": 100,
          "step": 4,
          "unit": "px",
          "label": "t:sections.all.padding.padding_top",
          "default": 0
        },
        {
          "type": "range",
          "id": "heading_padding_bottom",
          "min": 0,
          "max": 100,
          "step": 4,
          "unit": "px",
          "label": "t:sections.all.padding.padding_bottom",
          "default": 0
        },
        {
          "type": "html",
          "id": "text",
          "default": "t:sections.multirow.blocks.row.settings.text.default",
          "label": "t:sections.multirow.blocks.row.settings.text.label"
        },
        {
          "type": "color_background",
          "id": "text_color",
          "label": "テキストカラー",
          "default": "rgba(255,255,255,1)"
        },
        {
          "type": "range",
          "id": "text_fontweight",
          "min": 100,
          "max": 900,
          "step": 100,
          "label": "太さ",
          "default": 100
        },
        {
          "type": "range",
          "id": "text_size_desktop",
          "min": 8,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "フォントサイズ（デスクトップ）",
          "default": 18
        },
        {
          "type": "range",
          "id": "text_lineheight_desktop",
          "min": 1,
          "max": 5,
          "step": 0.1,
          "unit": "px",
          "label": "行間（デスクトップ）",
          "default": 1.6
        },
        {
          "type": "range",
          "id": "text_letterspacing_desktop",
          "min": 0,
          "max": 2,
          "step": 0.1,
          "unit": "rem",
          "label": "文字間（デスクトップ）",
          "default": 0.2
        },
        {
          "type": "range",
          "id": "text_size_mobile",
          "min": 8,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "フォントサイズ（モバイル）",
          "default": 14,
        },
        {
          "type": "range",
          "id": "text_lineheight_mobile",
          "min": 1,
          "max": 5,
          "step": 0.1,
          "unit": "px",
          "label": "行間（モバイル）",
          "default": 1.3
        },
        {
          "type": "range",
          "id": "text_letterspacing_mobile",
          "min": 0,
          "max": 2,
          "step": 0.1,
          "unit": "rem",
          "label": "文字間（モバイル）",
          "default": 0.2
        },
        {
          "type": "range",
          "id": "text_padding_top",
          "min": 0,
          "max": 100,
          "step": 4,
          "unit": "px",
          "label": "t:sections.all.padding.padding_top",
          "default": 40
        },
        {
          "type": "range",
          "id": "text_padding_bottom",
          "min": 0,
          "max": 100,
          "step": 4,
          "unit": "px",
          "label": "t:sections.all.padding.padding_bottom",
          "default": 52
        },
        {
          "type": "text",
          "id": "button_label",
          "default": "t:sections.multirow.blocks.row.settings.button_label.default",
          "label": "t:sections.multirow.blocks.row.settings.button_label.label", 
          "info": "t:sections.multirow.blocks.row.settings.button_label.info"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.multirow.blocks.row.settings.button_link.label"
        },
        {
          "type": "range",
          "id": "padding_top",
          "min": 0,
          "max": 100,
          "step": 4,
          "unit": "px",
          "label": "t:sections.all.padding.padding_top",
          "default": 0
        },
        {
          "type": "range",
          "id": "padding_bottom",
          "min": 0,
          "max": 100,
          "step": 4,
          "unit": "px",
          "label": "t:sections.all.padding.padding_bottom",
          "default": 0
        },
      ]
    },
    {
      "type": "heading",
      "name": "t:sections.rich-text.blocks.heading.name",
      "limit": 3,
      "settings": [
        {
          "type": "range",
          "id": "padding_top",
          "min": 0,
          "max": 100,
          "step": 4,
          "unit": "px",
          "label": "t:sections.all.padding.padding_top",
          "default": 0
        },
        {
          "type": "range",
          "id": "padding_bottom",
          "min": 0,
          "max": 100,
          "step": 4,
          "unit": "px",
          "label": "t:sections.all.padding.padding_bottom",
          "default": 0
        },
        {
          "type": "html",
          "id": "heading",
          "default": "t:sections.rich-text.blocks.heading.settings.heading.default",
          "label": "t:sections.rich-text.blocks.heading.settings.heading.label"
        },
        {
          "type": "select",
          "id": "heading_size_type",
          "options": [
            {
              "value": "preset",
              "label": "プリセット"
            },
            {
              "value": "num",
              "label": "数値"
            },
          ],
          "default": "preset",
          "label": "フォントサイズ指定方法"
        },
        {
          "type": "color_background",
          "id": "heading_color",
          "label": "テキストカラー",
          "default": "rgba(255,255,255,1)"
        },
        {
          "type": "range",
          "id": "heading_fontweight",
          "min": 100,
          "max": 900,
          "step": 100,
          "label": "太さ",
          "default": 100
        },
        {
          "type": "select",
          "id": "heading_align",
          "options": [
            {
              "value": "left",
              "label": "左寄せ"
            },
            {
              "value": "center",
              "label": "中央"
            },
            {
              "value": "right",
              "label": "右寄せ"
            },
          ],
          "default": "left",
          "label": "表示位置"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h2",
              "label": "t:sections.all.heading_size.options__1.label"
            },
            {
              "value": "h1",
              "label": "t:sections.all.heading_size.options__2.label"
            },
            {
              "value": "h0",
              "label": "t:sections.all.heading_size.options__3.label"
            },
            {
              "value": "hxl",
              "label": "t:sections.all.heading_size.options__4.label"
            },
            {
              "value": "hxxl",
              "label": "t:sections.all.heading_size.options__5.label"
            }
          ],
          "default": "h1",
          "label": "t:sections.all.heading_size.label",
          "visible_if": "{{ block.settings.heading_size_type == 'preset' }}"
        },
        {
          "type": "range",
          "id": "heading_size_desktop",
          "min": 8,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "フォントサイズ（デスクトップ）",
          "default": 24
        },
        {
          "type": "range",
          "id": "heading_lineheight_desktop",
          "min": 1,
          "max": 5,
          "step": 0.1,
          "unit": "px",
          "label": "行間（デスクトップ）",
          "default": 1.6
        },
        {
          "type": "range",
          "id": "heading_letterspacing_desktop",
          "min": 0,
          "max": 2,
          "step": 0.1,
          "unit": "rem",
          "label": "文字間（デスクトップ）",
          "default": 0.2
        },
        {
          "type": "range",
          "id": "heading_size_mobile",
          "min": 8,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "フォントサイズ（モバイル）",
          "default": 20
        },
        {
          "type": "range",
          "id": "heading_lineheight_mobile",
          "min": 1,
          "max": 5,
          "step": 0.1,
          "unit": "px",
          "label": "行間（モバイル）",
          "default": 1.3
        },
        {
          "type": "range",
          "id": "heading_letterspacing_mobile",
          "min": 0,
          "max": 2,
          "step": 0.1,
          "unit": "rem",
          "label": "文字間（モバイル）",
          "default": 0.2
        },
        {
          "type": "range",
          "id": "heading_padding_top",
          "min": 0,
          "max": 100,
          "step": 4,
          "unit": "px",
          "label": "t:sections.all.padding.padding_top",
          "default": 0
        },
        {
          "type": "range",
          "id": "heading_padding_bottom",
          "min": 0,
          "max": 100,
          "step": 4,
          "unit": "px",
          "label": "t:sections.all.padding.padding_bottom",
          "default": 0
        },
        {
          "type": "html",
          "id": "caption",
          "default": "t:sections.rich-text.blocks.caption.settings.text.default",
          "label": "t:sections.rich-text.blocks.caption.settings.text.label"
        },
        {
          "type": "select",
          "id": "caption_size_type",
          "options": [
            {
              "value": "preset",
              "label": "プリセット"
            },
            {
              "value": "num",
              "label": "数値"
            },
          ],
          "default": "preset",
          "label": "フォントサイズ指定方法"
        },
        {
          "type": "color_background",
          "id": "caption_color",
          "label": "テキストカラー",
          "default": "rgba(255,255,255,1)"
        },
        {
          "type": "range",
          "id": "caption_fontweight",
          "min": 100,
          "max": 900,
          "step": 100,
          "label": "太さ",
          "default": 100
        },
        {
          "type": "select",
          "id": "caption_align",
          "options": [
            {
              "value": "left",
              "label": "左寄せ"
            },
            {
              "value": "center",
              "label": "中央"
            },
            {
              "value": "right",
              "label": "右寄せ"
            },
          ],
          "default": "left",
          "label": "表示位置"
        },
        {
          "type": "range",
          "id": "caption_size_desktop",
          "min": 8,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "フォントサイズ（デスクトップ）",
          "default": 24,
          "visible_if": "{{ block.settings.caption_size_type == 'num' }}"
        },
        {
          "type": "range",
          "id": "caption_lineheight_desktop",
          "min": 1,
          "max": 5,
          "step": 0.1,
          "unit": "px",
          "label": "行間（デスクトップ）",
          "default": 1.6
        },
        {
          "type": "range",
          "id": "caption_letterspacing_desktop",
          "min": 0,
          "max": 2,
          "step": 0.1,
          "unit": "rem",
          "label": "文字間（デスクトップ）",
          "default": 0.2
        },
        {
          "type": "range",
          "id": "caption_size_mobile",
          "min": 8,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "フォントサイズ（モバイル）",
          "default": 20
        },
        {
          "type": "range",
          "id": "caption_lineheight_mobile",
          "min": 1,
          "max": 5,
          "step": 0.1,
          "unit": "px",
          "label": "行間（モバイル）",
          "default": 1.3
        },
        {
          "type": "range",
          "id": "caption_letterspacing_mobile",
          "min": 0,
          "max": 2,
          "step": 0.1,
          "unit": "rem",
          "label": "文字間（モバイル）",
          "default": 0.2
        },
        {
          "type": "range",
          "id": "caption_padding_top",
          "min": 0,
          "max": 100,
          "step": 4,
          "unit": "px",
          "label": "t:sections.all.padding.padding_top",
          "default": 0
        },
        {
          "type": "range",
          "id": "caption_padding_bottom",
          "min": 0,
          "max": 100,
          "step": 4,
          "unit": "px",
          "label": "t:sections.all.padding.padding_bottom",
          "default": 0
        },
      ]
    },
    {
      "type": "image",
      "name": "画像",
      "limit": 1,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.slideshow.blocks.slide.settings.image.label"
        },
        {
          "type": "image_picker",
          "id": "image_sp",
          "label": "t:sections.slideshow.blocks.slide.settings.image_sp.label"
        },
        {
          "type": "range",
          "id": "padding_top",
          "min": 0,
          "max": 100,
          "step": 4,
          "unit": "px",
          "label": "t:sections.all.padding.padding_top",
          "default": 0
        },
        {
          "type": "range",
          "id": "padding_bottom",
          "min": 0,
          "max": 100,
          "step": 4,
          "unit": "px",
          "label": "t:sections.all.padding.padding_bottom",
          "default": 0
        },
      ]
    },
    {
      "type": "products",
      "name": "Product",
      "limit": 1,
      "settings": [ 
        {
          "type": "color_background",
          "id": "heading_color",
          "label": "見出しカラー",
          "default": "rgba(255,255,255,1)"
        },
        {
          "label": "見出し下線カラー",
          "id": "heading_border_color",
          "type": "color_background",
          "default": "rgba(0,0,0,0.3)"
        },
        {
          "type": "range",
          "id": "heading_fontweight",
          "min": 100,
          "max": 900,
          "step": 100,
          "label": "見出し太さ",
          "default": 100
        },
        {
          "type": "range",
          "id": "heading_size_desktop",
          "min": 8,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "見出しフォントサイズ（デスクトップ）",
          "default": 24
        },
        {
          "type": "range",
          "id": "heading_lineheight_desktop",
          "min": 1,
          "max": 5,
          "step": 0.1,
          "unit": "px",
          "label": "見出し行間（デスクトップ）",
          "default": 1.6
        },
        {
          "type": "range",
          "id": "heading_letterspacing_desktop",
          "min": 0,
          "max": 2,
          "step": 0.1,
          "unit": "rem",
          "label": "見出し文字間（デスクトップ）",
          "default": 0.2
        },
        {
          "type": "range",
          "id": "heading_size_mobile",
          "min": 8,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "見出しフォントサイズ（モバイル）",
          "default": 20
        },
        {
          "type": "range",
          "id": "heading_lineheight_mobile",
          "min": 1,
          "max": 5,
          "step": 0.1,
          "unit": "px",
          "label": "見出し行間（モバイル）",
          "default": 1.3
        },
        {
          "type": "range",
          "id": "heading_letterspacing_mobile",
          "min": 0,
          "max": 2,
          "step": 0.1,
          "unit": "rem",
          "label": "見出し文字間（モバイル）",
          "default": 0.2
        },
        {
          "type": "range",
          "id": "heading_padding_top",
          "min": 0,
          "max": 100,
          "step": 4,
          "unit": "px",
          "label": "t:sections.all.padding.padding_top",
          "default": 0
        },
        {
          "type": "range",
          "id": "heading_padding_bottom",
          "min": 0,
          "max": 100,
          "step": 4,
          "unit": "px",
          "label": "t:sections.all.padding.padding_bottom",
          "default": 0
        },
        {
          "type": "html",
          "id": "text",
          "default": "t:sections.multirow.blocks.row.settings.text.default",
          "label": "t:sections.multirow.blocks.row.settings.text.label"
        },
        {
          "type": "color_background",
          "id": "text_color",
          "label": "テキストカラー",
          "default": "rgba(255,255,255,1)"
        },
        {
          "type": "range",
          "id": "text_fontweight",
          "min": 100,
          "max": 900,
          "step": 100,
          "label": "太さ",
          "default": 100
        },
        {
          "type": "range",
          "id": "text_size_desktop",
          "min": 8,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "フォントサイズ（デスクトップ）",
          "default": 18
        },
        {
          "type": "range",
          "id": "text_lineheight_desktop",
          "min": 1,
          "max": 5,
          "step": 0.1,
          "unit": "px",
          "label": "行間（デスクトップ）",
          "default": 1.6
        },
        {
          "type": "range",
          "id": "text_letterspacing_desktop",
          "min": 0,
          "max": 2,
          "step": 0.1,
          "unit": "rem",
          "label": "文字間（デスクトップ）",
          "default": 0.2
        },
        {
          "type": "range",
          "id": "text_size_mobile",
          "min": 8,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "フォントサイズ（モバイル）",
          "default": 14,
        },
        {
          "type": "range",
          "id": "text_lineheight_mobile",
          "min": 1,
          "max": 5,
          "step": 0.1,
          "unit": "px",
          "label": "行間（モバイル）",
          "default": 1.3
        },
        {
          "type": "range",
          "id": "text_letterspacing_mobile",
          "min": 0,
          "max": 2,
          "step": 0.1,
          "unit": "rem",
          "label": "文字間（モバイル）",
          "default": 0.2
        },
        {
          "type": "range",
          "id": "text_padding_top",
          "min": 0,
          "max": 100,
          "step": 4,
          "unit": "px",
          "label": "t:sections.all.padding.padding_top",
          "default": 40
        },
        {
          "type": "range",
          "id": "text_padding_bottom",
          "min": 0,
          "max": 100,
          "step": 4,
          "unit": "px",
          "label": "t:sections.all.padding.padding_bottom",
          "default": 52
        },
        {
          "type": "image_picker",
          "id": "image_1",
          "label": "画像１"
        },
        {
          "type": "image_picker",
          "id": "image_1_sp",
          "label": "画像１（スマートフォン用）"
        },
        {
          "type": "html",
          "id": "heading_1",
          "default": "t:sections.multirow.blocks.row.settings.heading.default",
          "label": "t:sections.multirow.blocks.row.settings.heading.label"
        },
        {
          "type": "range",
          "id": "padding_top",
          "min": 0,
          "max": 100,
          "step": 4,
          "unit": "px",
          "label": "t:sections.all.padding.padding_top",
          "default": 0
        },
        {
          "type": "range",
          "id": "padding_bottom",
          "min": 0,
          "max": 100,
          "step": 4,
          "unit": "px",
          "label": "t:sections.all.padding.padding_bottom",
          "default": 0
        },
      ]
    }
  ],
  "presets": [
    {
      "name": "複数列：Brand Story",
      "blocks": [
        {
          "type": "row"
        },
        {
          "type": "row"
        },
        {
          "type": "row"
        }
      ]
    }
  ]
}
{% endschema %}
